@import url("https://fonts.cdnfonts.com/css/pocket-monk");

.pokemon_container {
  font-family: "Pocket Monk", sans-serif;
  background-color: #03143f;
  /* justify-content: center; */
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  overflow-y: scroll;
}

.pokemon_name,
.pokemon_display {
  margin-left: 20%;
  color: white;
}

.pokemon_image {
  width: 25vh;
}

.sidebar_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  flex-direction: column;
}
.top_links {
  display: flex;
  flex-direction: column;
}

.pokemon_list {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 20%;
  left: 58%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  width: 80%;
  height: 80vh; /* Set a fixed height */
  overflow-y: scroll;
}

.pokemons_infos,
.pokemon_name {
  color: white;
}

/* 
.App-link {
  font-weight: 600;
  color: white;
}

.container {
  color: white;
  margin-top: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-active {
  color: #3d405b;
  margin-top: 2rem;
  font-weight: 600;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overlay {
  width: 100vw;
  height: 100vh;
}
.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-name {
  font-size: 1.5rem;
  color: #3d405b;
  font-weight: 700;
}
.detail-info {
  background-color: #f2cc8f;
  background-image: linear-gradient(0deg, #f2cc8f 0%, #f8f3d9 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-abitlity {
  color: #3d405b;
  font-weight: 700;
  font-size: 1.25rem;
}
.detail-skill {
  align-self: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
  text-align: start;
}
.detail-close {
  cursor: pointer;
  margin: 1rem 1rem 0 auto;
  font-size: 1.5rem;
}
.pokemon_name {
  margin-top: 0.5rem;
  color: #3d405b;
}
.pokemon_list_container {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: #f4f1de;
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.pokemon-list-detailed {
  background-color: #f4f1de;
  position: absolute;
  text-align: center;
  width: 270px;
  height: 300px;
  top: 30%;
  left: 41%;
  border-radius: 12px;
}

.btn {
  width: 50%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

button {
  cursor: pointer;
  background-color: white;
  color: #3d405b;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
  transition: 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  color: #3d405b;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  border: none;
}

.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
} */
